<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Tartarus</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>
<body>

<div class="row">
    <div class="col-md-2">
        <h3><a th:href="@{/}">Home Page</a></h3>
        <h3><a th:href="@{/auth/game/observe}">Observe</a></h3>
        <h3><a th:href="@{/auth/inventory}">Inventory</a></h3>

        <h3> Tartarus</h3>


        <div th:object="${user}">
            <div>
                <span th:text="'User: ' + ${user.username} + '; Char ' + ${user.currentCharacter.name}">char</span>
                <div th:if="${user.currentCharacter.getPicture()==null}">
                    <img src="/images/chars/blank-character-picture.jpg" alt="Image" width="190">
                </div>
                <div th:if="${user.currentCharacter.getPicture()!=null}">
                    <img th:src="@{'/auth/characters/' + ${user.currentCharacter.id} + '/charImage'}" alt="Image"
                         width="190">
                </div>
                <br>
                <span th:text="'Coordinates: ' + ${user.currentCharacter.coordinateY} + 'x' + ${user.currentCharacter.coordinateX}">coordinates</span>
                <br>
            </div>
        </div>

        <!--//left = 1; right = 2; up = 3; down = 4;-->
        <!--Move-Left-->
        <form th:class="move-left" th:object="${MoveBean}" method="post"
              sec:authorize="isAuthenticated()" enctype="multipart/form-data">
            <div>
                <input name="move" type="hidden" data-th-value=1
                       th:value=1 class="mb-2" th:field="*{move}"/>
            </div>
            <input class="arrow" type="submit"
                   th:value="Move-Left"/>
        </form>


        <!--Move-Right-->
        <form th:class="move-left" th:object="${MoveBean}" method="post"
              sec:authorize="isAuthenticated()" enctype="multipart/form-data">
            <div>
                <input name="move" type="hidden" data-th-value=2
                       th:value=2 class="mb-2" th:field="*{move}"/>
            </div>
            <input class="arrow" type="submit"
                   th:value="Move-Right"/>
        </form>


        <!--Move-Up-->
        <form th:class="move-left" th:object="${MoveBean}" method="post"
              sec:authorize="isAuthenticated()" enctype="multipart/form-data">
            <div>
                <input name="move" type="hidden" data-th-value=3
                       th:value=3 class="mb-2" th:field="*{move}"/>
            </div>
            <input class="arrow" type="submit"
                   th:value="Move-Up"/>
        </form>


        <!--Move-Down-->
        <form th:class="move-left" th:object="${MoveBean}" method="post"
              sec:authorize="isAuthenticated()" enctype="multipart/form-data">
            <div>
                <input name="move" type="hidden" data-th-value=4
                       th:value=4 class="mb-2" th:field="*{move}"/>
            </div>
            <input class="arrow" type="submit"
                   th:value="Move-Down"/>
        </form>

        <h4><span
                th:text="'***Ladder***'">Ladder</span>
        </h4>
        <div th:each="character : ${ladder}">
            <span class="position" th:text="${character.name} + ', '"></span>
            <span class="position" th:text="'Class: ' + ${character.characterClass} + ', '"></span>
            <span class="position" th:text="'User: ' + ${character.userCreator} + ', '"></span>
            <span class="position" th:text="'Level: ' + ${character.level}"></span>
            <!--            <span class="position" th:text="'Experience: ' + ${character.experience} + ', '"></span>-->
            <!--            <span class="position" th:text="'Gold: ' + ${character.gold}"></span>-->
        </div>
    </div>


    <div class="col-md-5">
        <div>
            <!--Show Matrix-->
            <form id="sudokuBoard" method="get">
                <table class="table table-dark">
                    <tr th:each="row: ${matrix}">
                        <td th:each="value: ${row}">
                            <div th:switch="${value}">
                                <input th:case="0" style="width:20px;height:20px;text-align:center" type="text"
                                       maxlength="1"
                                       value="0">
                                <input th:case="*"
                                       style="width:20px;height:20px;text-align:center;background-color:lightgreen"
                                       type="text" th:value="${value}" readonly>
                            </div>
                        </td>
                    </tr>
                </table>

                <!--    <input type="submit"> Check Solution </input>-->
            </form>
        </div>

        <!--            *******************CHAT*****************************-->
        <h4><span
                th:text="'*** Chat:  ***'">Chat</span>
        </h4>
        <form action="#" class="p-5 bg-light" th:action="@{/auth/game/${page.index}}"
              th:object="${logBean}"
              method="post"
              enctype="multipart/form-data">

            <div class="form-group">
                <label for="username">To user:</label>
                <textarea name="" id="username" cols="20" rows="1"
                          th:field="*{username}"></textarea>
            </div>

            <div class="form-group">
                <label for="message">Message:</label>
                <textarea name="" id="message" cols="20" rows="1"
                          th:field="*{message}"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Send message" class="btn py-3 px-4 btn-primary">
            </div>
        </form>

    </div>

    <div class="col-md-5">
        <div class="col-md-12" th:object="${log}">
            <!--Show Log-->
            <h4><span
                    th:text="'*** Log:  ***'">User's log</span>
            </h4>


            <!--            *******************next-page*****************************-->
            <form th:class="next-page" th:id="next-page" th:object="${page}"
                  method="get">
                <div>
                    <input name="index" type="hidden" data-th-value="${page.getIndex()+1}"
                           th:value="${page.getIndex()+1}" class="mb-2" th:field="*{index}"/>

                    <input name="index" type="hidden"
                           data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                           class="mb-2" th:field="*{searchParam1}"/>

                    <input name="index" type="hidden"
                           data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                           class="mb-2" th:field="*{searchParam2}"/>
                    <!--                                   th:if="${page.searchParam2 == null && category.getName() != null}"-->

                </div>
                <input class="fa-heart" type="submit" th:id="next-page"
                       th:if="${hasNext == true}"
                       value="Next page"/>
            </form>

            <!--            *******************previous-page*****************************-->
            <form th:class="previous-page" th:id="previous-page" th:object="${page}"
                  method="get">
                <div>
                    <input name="index" type="hidden" data-th-value="${page.getIndex()-1}"
                           th:value="${page.getIndex()-1}" class="mb-2" th:field="*{index}"/>

                    <input name="index" type="hidden"
                           data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                           class="mb-2" th:field="*{searchParam1}"/>

                    <input name="index" type="hidden"
                           data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                           class="mb-2" th:field="*{searchParam2}"/>
                </div>
                <input class="fa-heart" type="submit" th:id="previous-page"
                       th:if="${hasPrevious == true}"
                       value="Previous page"/>
            </form>


            <!--Show Log-->
            <div th:each="log : ${log}">
                <div class="team d-md-flex p-4 bg-white">
                    <span class="position" th:text="'Id: ' + ${log.id} + '; '"></span>
                    <span class="position" th:text="${log.date} + '; '"></span>
                    <span class="position" th:text="${log.sender} + ' >>>'"></span>
                    <span class="position" th:text="${log.username} + '; '"></span>
                    <span class="position" th:text="'Msg: ' + ${log.message} + '; '"></span>

                </div>
            </div>
        </div>
        <br>

    </div>
</div>


</body>
</html>