<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<!-- Sign-up -->
<!--<h3 sec:authorize="hasRole('ADMIN')">-->
<!-- Register -->
<h3> Hello world
</h3>
<!-- END -->


<h3>
    <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
</h3>
<!-- END -->

<!-- Register -->
<h3>
    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
</h3>
<!-- END -->


<h3 sec:authorize="isAuthenticated()">
    <a th:href="@{/auth/confirmation}">auth</a>
</h3>

<!-- logout page form -->
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<!-- END-->

<!-- Game page form -->
<form sec:authorize="isAuthenticated()" th:action="@{/auth/game}" method="get">
    <input type="submit" value="Game"/>
</form>


<!-- Observe page form -->
<h3><a th:href="@{/auth/game/observe}">Observe</a></h3>
<!-- END-->

<!-- Log page form -->
<h3 sec:authorize="isAuthenticated()"><a th:href="@{/auth/log/1}">Log</a></h3>
<!-- END-->

<!-- Fight Log page form -->
<h3 sec:authorize="isAuthenticated()"><a th:href="@{/fightLog/1}">Fight Log</a></h3>
<!-- END-->

<!-- ONE Fight Log page form -->
<h3 sec:authorize="isAuthenticated()"><a th:href="@{/fightLog/one}">One Fight Log</a></h3>
<!-- END-->


<h3 sec:authorize="isAuthenticated()">Seen only by Admin</h3>

<!-- Create character page form -->
<h3><a sec:authorize="isAuthenticated()" th:href="@{/auth/characters/newCharacter}">New Character</a></h3>
<!-- END-->

<!-- Create item page form -->
<h3><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/items/admin/newItem}">New Item</a></h3>
<!-- END-->

<!-- Create Creep page form -->
<h3><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/creeps/admin/newCreep}">New Creep</a></h3>
<!-- END-->

<!-- Update pictures page form -->
<h3><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/pictures/admin/uploadPictures}">Update pictures</a></h3>
<!-- END-->

<!-- All Items page form -->
<h3><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/allItems}">All Items</a></h3>
<!-- END-->

</body>
</html>