<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<!--Show User and Character-->
<div class="col-md-12" th:object="${user}">
    <div class="team d-md-flex p-4 bg-white">
        <span th:text="'User: ' + ${user.username} + '; Char ' + ${user.currentCharacter.name}">char</span>
        <div class="img-fluid mb-4" th:if="${user.currentCharacter.getPicture()==null}">
            <img src="/images/chars/blank-character-picture.jpg" alt="Image" width="190">
        </div>
        <div class="img-fluid mb-4" th:if="${user.currentCharacter.getPicture()!=null}">
            <img th:src="@{'/auth/characters/' + ${user.currentCharacter.id} + '/charImage'}" alt="Image"
                 width="190">
        </div>
        <br>
        <span th:text="'Coordinates: ' + ${user.currentCharacter.coordinateY} + 'x' + ${user.currentCharacter.coordinateX}">coordinates</span>
    </div>

    <!--Show Equipment-->
    <h1><span
            th:text="'************* Equipment:  *************'">Equipment</span>
    </h1>
    <div th:each="item : ${user.currentCharacter.equipment}">
        <div class="team d-md-flex p-4 bg-white">

            <h4><span
                    th:text="'************* item: ' + ${item.name} + '*************'">name</span>
            </h4>

            <div class="img-fluid mb-4" th:if="${item.getPicture()==null}">
                <img src="/images/Item-blank.jpg" alt="Image" width="90">
            </div>
            <div class="img-fluid mb-4" th:if="${item.getPicture()!=null}">
                <img th:src="@{'/items/' + ${item.id} + '/itemImage'}" alt="Image"
                     width="90">
            </div>
            <br>
            <span class="position" th:text="'itemClass: ' + ${item.itemClass} + '; '"></span>
            <span class="position" th:text="'isUnique: ' + ${item.isUnique} + '; '"></span>
            <span class="position" th:text="'name: ' + ${item.name} + '; '"></span>
            <span class="position" th:text="'level: ' + ${item.level} + '; '"></span>
            <span class="position" th:text="'price: ' + ${item.price} + '; '"></span>
            <span class="position" th:text="'damageMin: ' + ${item.damageMin} + '; '"></span>
            <span class="position" th:text="'damageMax: ' + ${item.damageMax} + '; '"></span>
            <span class="position" th:text="'armor: ' + ${item.armor} + '; '"></span>
            <span class="position" th:text="'blockChance: ' + ${item.blockChance} + '; '"></span>
            <span class="position" th:text="'speed: ' + ${item.speed} + '; '"></span>
            <span class="position" th:text="'availableInShop: ' + ${item.availableInShop} + '; '"></span>
        </div>
    </div>


    <h1><span
            th:text="'************* Inventory:  *************'">Inventory</span>
    </h1>
    <div th:object="${inventory}" th:each="item : ${inventory}">
        <div class="team d-md-flex p-4 bg-white">

            <h4><span
                    th:text="'************* item: ' + ${item.name} + '*************'">name</span>
            </h4>

            <div class="img-fluid mb-4" th:if="${item.getPicture()==null}">
                <img src="/images/Item-blank.jpg" alt="Image" width="90">
            </div>
            <div class="img-fluid mb-4" th:if="${item.getPicture()!=null}">
                <img th:src="@{'/items/' + ${item.id} + '/itemImage'}" alt="Image"
                     width="90">
            </div>
            <br>
            <span class="position" th:text="'itemClass: ' + ${item.itemClass} + '; '"></span>
            <span class="position" th:text="'isUnique: ' + ${item.isUnique} + '; '"></span>
            <span class="position" th:text="'name: ' + ${item.name} + '; '"></span>
            <span class="position" th:text="'level: ' + ${item.level} + '; '"></span>
            <span class="position" th:text="'price: ' + ${item.price} + '; '"></span>
            <span class="position" th:text="'damageMin: ' + ${item.damageMin} + '; '"></span>
            <span class="position" th:text="'damageMax: ' + ${item.damageMax} + '; '"></span>
            <span class="position" th:text="'armor: ' + ${item.armor} + '; '"></span>
            <span class="position" th:text="'blockChance: ' + ${item.blockChance} + '; '"></span>
            <span class="position" th:text="'speed: ' + ${item.speed} + '; '"></span>
            <span class="position" th:text="'availableInShop: ' + ${item.availableInShop} + '; '"></span>
        </div>
    </div>
</div>


<!--&lt;!&ndash;Show Equipment&ndash;&gt;-->
<!--</form>-->
<!--<form id="Equipment" method="get">-->
<!--    <table class="table table-dark">-->
<!--        <tr th:each="row: ${matrix}">-->
<!--            <td th:each="value: ${row}">-->
<!--                <div th:switch="${value}">-->
<!--                    <input th:case="0" style="width:20px;height:20px;text-align:center" type="text" maxlength="1"-->
<!--                           value="0">-->
<!--                    <input th:case="*" style="width:20px;height:20px;text-align:center;background-color:lightgreen"-->
<!--                           type="text" th:value="${value}" readonly>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    &lt;!&ndash;    <input type="submit"> Check Solution </input>&ndash;&gt;-->
<!--</form>-->

<!--&lt;!&ndash;Show Inventory&ndash;&gt;-->
<!--</form>-->
<!--<form id="Inventory" method="get">-->
<!--    <table class="table table-dark">-->
<!--        <tr th:each="row: ${matrix}">-->
<!--            <td th:each="value: ${row}">-->
<!--                <div th:switch="${value}">-->
<!--                    <input th:case="0" style="width:20px;height:20px;text-align:center" type="text" maxlength="1"-->
<!--                           value="0">-->
<!--                    <input th:case="*" style="width:20px;height:20px;text-align:center;background-color:lightgreen"-->
<!--                           type="text" th:value="${value}" readonly>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    &lt;!&ndash;    <input type="submit"> Check Solution </input>&ndash;&gt;-->
<!--</form>-->


</body>
</html>