<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Log</title>
</head>
<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<!--            *******************CHAT*****************************-->
<form action="#" class="p-5 bg-light" th:action="@{/auth/log/${page.index}}"
      th:object="${logBean}"
      method="post"
      enctype="multipart/form-data">

    <div class="form-group">
        <label for="username">To user:</label>
        <textarea name="" id="username" cols="20" rows="1" class="form-control"
                  th:field="*{username}"></textarea>
    </div>

    <div class="form-group">
        <label for="message">Message:</label>
        <textarea name="" id="message" cols="20" rows="1" class="form-control"
                  th:field="*{message}"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" value="Send message" class="btn py-3 px-4 btn-primary">
    </div>
</form>

<div class="col-md-12" th:object="${log}">
    <!--Show Log-->
    <h1><span
            th:text="'************* Log:  *************'">User's log</span>
    </h1>


    <!--            *******************next-page*****************************-->
    <form th:class="next-page" th:id="next-page" th:object="${page}"
          method="get">
        <div>
            <input name="index" type="hidden" data-th-value="${page.getIndex()+1}"
                   th:value="${page.getIndex()+1}" class="mb-2" th:field="*{index}"/>

            <input name="index" type="hidden"
                   data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                   class="mb-2" th:field="*{searchParam1}"/>

            <input name="index" type="hidden"
                   data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                   class="mb-2" th:field="*{searchParam2}"/>
            <!--                                   th:if="${page.searchParam2 == null && category.getName() != null}"-->

        </div>
        <input class="fa-heart" type="submit" th:id="next-page"
               th:if="${hasNext == true}"
               value="Next page"/>
    </form>

    <!--            *******************previous-page*****************************-->
    <form th:class="previous-page" th:id="previous-page" th:object="${page}"
          method="get">
        <div>
            <input name="index" type="hidden" data-th-value="${page.getIndex()-1}"
                   th:value="${page.getIndex()-1}" class="mb-2" th:field="*{index}"/>

            <input name="index" type="hidden"
                   data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                   class="mb-2" th:field="*{searchParam1}"/>

            <input name="index" type="hidden"
                   data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                   class="mb-2" th:field="*{searchParam2}"/>
        </div>
        <input class="fa-heart" type="submit" th:id="previous-page"
               th:if="${hasPrevious == true}"
               value="Previous page"/>
    </form>


    <!--Show Log-->
    <div th:each="log : ${log}">
        <div class="team d-md-flex p-4 bg-white">
            <span class="position" th:text="'Id: ' + ${log.id} + '; '"></span>
            <span class="position" th:text="'Date: ' + ${log.date} + '; '"></span>
            <span class="position" th:text="'Sender: ' + ${log.sender} + '; '"></span>
            <span class="position" th:text="'name: ' + ${log.username} + '; '"></span>
            <span class="position" th:text="'Message: ' + ${log.message} + '; '"></span>

        </div>
    </div>
</div>

</body>
</html>