<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>newChar</title>
</head>
<body>

<h3><a th:href="@{/}">Home Page</a></h3>

<div class="pt-5 mt-5">
    <h3 class="mb-5"></h3>
    <ul class="comment-list">
        <div class="comment-form-wrap pt-5" sec:authorize="isAuthenticated()">
            <h3 class="mb-5">Create new character</h3>
            <form action="#" class="p-5 bg-light" th:action="@{auth/characters/newCharacter}"
                  th:object="${CharacterDTO}"
                  method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="StringListId">Character Class</label>
                    <br/>
                    <label for="StringListId"></label>
                    <select id="StringListId" th:field="*{characterClass}">
                        <option value="Knight" selected="selected">Knight</option>
                        <option value="Titan">Titan</option>
                        <option value="Shaman">Shaman</option>
                        <option value="Slayer">Slayer</option>
                        <option value="Wizard">Wizard</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Name">Name</label>
                    <textarea name="" id="Name" cols="20" rows="1"
                              th:field="*{name}"></textarea>
                </div>

                <label class="control-label">Select File</label>
                <input id="imagefile" name="imagefile" type="file" class="file">
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save Character" class="btn py-3 px-4 btn-primary">
                </div>
            </form>
        </div>


    </ul>
</div>

</body>
</html>