<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/profile.css}" href="../static/profile.css"/>
    <title>Access Denied</title>
</head>

<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<h2>Access Denied Page</h2>

<p>You are not authorized to access this resource.</p>



</body>
</html>