<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>All Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li class="active">
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header><!-- end header -->
    <section id="inner-headline" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">All Items</h2>
                </div>
            </div>
        </div>
    </section>

    <!--     START     -->
    <div class="row">
        <div class="col-md-12" th:object="${Items}">
            <!--Show All Items-->

            <div class="row" th:each="item : ${Items}">
                <div class="col-md-1" th:if="${item.getPicture()==null}">
                    <img src="/images/Item-blank.jpg" alt="Image" width="90">
                </div>
                <div class="col-md-1" th:if="${item.getPicture()!=null}">
                    <img th:src="@{'/items/' + ${item.id} + '/itemImage'}" alt="Image"
                         width="90">
                </div>
                <br>

                <div class="col-md-1">
                    <h4><span
                            th:text="${item.name}">name</span>
                    </h4>
                </div>
                <!--                <div th:if="${item.name.contains('God')}">-->
                <!--                    <i class="unique"-->
                <!--                       th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>-->
                <!--                </div>-->
                <!--                <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">-->
                <!--                    <i class="icon-ok"-->
                <!--                       th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>-->
                <!--                </div>-->

                <div th:if="${item.itemClass.name()=='RING' || item.itemClass.name()=='CRYSTAL'}">
                    <div class="col-md-6">
                        <span class="position" th:text="'Description: ' + ${item.description} + '; '"></span>
                    </div>
                </div>

                <div th:unless="${item.itemClass.name()=='RING' || item.itemClass.name()=='CRYSTAL'}">
                    <div class="col-md-6">
                        <!--                    <span class="position" th:text="'itemClass: ' + ${item.itemClass} + '; '"></span>-->
                        <span class="position" th:text="'isUnique: ' + ${item.isUnique} + '; '"></span>
                        <span class="position" th:text="'level: ' + ${item.level} + '; '"></span>
                        <!--                    <span class="position" th:text="'price: ' + ${item.price} + '; '"></span>-->
                        <span class="position"
                              th:text="'damage: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '; '"></span>
                        <!--                    <span class="position" th:text="'damageMax: ' + ${item.damageMax} + '; '"></span>-->
                        <span class="position" th:text="'armor: ' + ${item.armor} + '; '"></span>
                        <span class="position" th:text="'blockChance: ' + ${item.blockChance} + '; '"></span>
                        <span class="position" th:text="'speed: ' + ${item.speed} + '; '"></span>
                        <!--                    <span class="position" th:text="'availableInShop: ' + ${item.availableInShop} + '; '"></span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote fa fa-microphone" style=
                        "font-style: italic"></div>
            </div>

            <div class="carousel slide" data-ride="carousel" id=
                    "carousel-example-generic">
                <ol class="carousel-indicators">
                    <li class="" data-slide-to="0" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="1" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="active" data-slide-to="2" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="3" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>
                </ol>

                <div class="carousel-inner">
                    <div class="item">
                        <p>5 Characters: Titan, Knight, Shaman, Wizard and Slayer</p>

                        <p style="font-weight: bold">- Characters -</p>
                    </div>

                    <div class="item">
                        <p>100 Levels</p>

                        <p style="font-weight: bold">- Levels
                            -</p>
                    </div>

                    <div class="item active">
                        <p>94 Creeps (15 Bosses, 7 Gods)</p>

                        <p style="font-weight: bold">- Creeps
                            -</p>
                    </div>

                    <div class="item">
                        <p>106 Items (29 Unique, 5 God items), but in fact countless</p>

                        <p style="font-weight: bold">- Items -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Anchor 2019 All right reserved. A </span><a
                                href="https://webthemez.com/free-website-templates/" target="_blank">Free Website
                            template</a> By WebThemez.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li><a href="#" data-placement="top" title="Google plus"><i
                                class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>