<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/profile.css}" href="../static/profile.css"/>
    <title>Auth Confirmation</title>
</head>

<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<h2>Auth Confirmation</h2>
<p>You have successfully logged in - BRAVO.</p>


</body>
</html>