<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tartarus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li class="active">
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header><!-- end header -->
    <section id="inner-headline" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Tartarus</h2>
                </div>
            </div>
        </div>
    </section>

    <!--     START     -->
    <div th:if="${user.currentCharacter==null}">
        <h3 class="mb-5">You must have character to enter this page</h3>
    </div>

    <div th:if="${user.currentCharacter!=null}">
        <div class="row">


            <!--     Current char     -->
            <div th:if="${user.currentCharacter!=null}">
                <div class="col-md-2">
                    <!--     GAME TIME     -->
                    <div th:object="${TimeBean}">
                        <div>
                            <span th:text="'Days: ' + ${TimeBean.getDays()} + ', '">Days</span>
                            <span th:text="'Fights: ' + ${TimeBean.getFights()} + ', '">Fights</span>
                            <span th:text="'Game time: ' + ${TimeBean.getGameTime()}">Game time</span>
                            <br>
                        </div>
                    </div>

                    <!--                <div id="x" style="font-size:20px"></div>-->
                    <!--                <script th:inline="javascript">-->
                    <!--var s = [[${TimeBean.getGameTime()}]];-->
                    <!--var x = document.getElementById('x');-->
                    <!--&lt;!&ndash;var s = ['John', 'Mark', 'Alex'];&ndash;&gt;-->
                    <!--var i = 0;-->

                    <!--(function loop() {-->
                    <!--    console.log(s);-->
                    <!--    x.innerHTML = s;-->
                    <!--    if (true) {-->
                    <!--        setTimeout(loop, 1000);-->
                    <!--    }-->
                    <!--})();-->
                    <!--        </script>-->

                    <h3 class="mb-5">Current character</h3>
                    <div th:object="${user}">
                        <div>
                            <span th:text="'User: ' + ${user.username} + '; Char: ' + ${user.currentCharacter.name}">char</span>
                            <img th:src="@{'/images/chars/' + ${user.currentCharacter.characterClass.name()} + '.jpg'}"
                                 alt="Image" width="190">
                            <br>
                            <span th:text="'Zone: ' + ${user.currentCharacter.zone.name()}">Zone</span>
                            <br>
                        </div>
                    </div>

                    <h3 class="mb-5">Ladder (TOP players)</h3>
                    <div th:each="character : ${ladder}">
                        <span class="position" th:text="${character.name} + ', '"></span>
                        <span class="position" th:text="${character.characterClass} + ', '"></span>
                        <span class="position" th:text="'User: ' + ${character.userCreator} + ', '"></span>
                        <span class="position" th:text="'Level: ' + ${character.level}"></span>
                        <span class="position" th:text="'Crystals: ' + ${character.crystals}"></span>
                        <a th:href="@{'/seeOtherCharacter/' + ${character.name}}"
                        >See</a>
                        <!--            <span class="position" th:text="'Experience: ' + ${character.experience} + ', '"></span>-->
                        <!--            <span class="position" th:text="'Gold: ' + ${character.gold}"></span>-->
                    </div>
                </div>
            </div>


            <div class="col-md-2">

                <!--Change Zone-->
                <h3 class="mb-5">Change Creep Zone</h3>
                <div th:each="zone : ${Zones}">
                    <div>
                        <!--                    <i class="icon-ok"-->
                        <!--                       th:text="${zone.name()}"></i>-->

                        <form th:class="use-form" th:id="changeZone" action="#"
                              th:action="@{/auth/game/1}"
                              th:object="${StringBean}" method="post">
                            <div>
                                <input name="${StringBean.method}" type="hidden"
                                       data-th-value="changeZone"
                                       th:value="changeZone" class="mb-2"
                                       th:field="${StringBean.method}"/>
                            </div>

                            <div th:if="${zone.name() == 'Duel'}">
                                <div class="form-group">
                                    <label for="character">Choose character for duel</label>
                                    <textarea name="" id="character" cols="20" rows="1"
                                              th:field="${StringBean.string2}"></textarea>
                                </div>
                            </div>

                            <div>
                                <input name="${StringBean.string1}" type="hidden"
                                       data-th-value="${zone.name()}"
                                       th:value="${zone.name()}" class="mb-2"
                                       th:field="${StringBean.string1}"/>
                            </div>

                            <div class="form-group">
                                <div th:if="${user.currentCharacter.zone.name() == zone.name()}">
                                    <input type="submit" value="Go to Zone:" th:text="' ' + ${zone.name()}"
                                           style="color: DarkGoldenrod">
                                </div>
                                <div th:unless="${user.currentCharacter.zone.name() == zone.name()}">
                                    <input type="submit" value="Go to Zone:" th:text="' ' + ${zone.name()}"
                                           style="font-size:11px">
                                </div>
                                <!--                                                <input type="submit" value="Use" class="btn py-3 px-4 btn-primary">-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12" th:object="${log}">
                    <!--Show Log-->
                    <h3 class="mb-5">Log</h3>


                    <!--            *******************next-page*****************************-->
                    <form th:class="next-page" th:id="next-page" th:object="${page}"
                          method="get">
                        <div>
                            <input name="index" type="hidden" data-th-value="${page.getIndex()+1}"
                                   th:value="${page.getIndex()+1}" class="mb-2" th:field="*{index}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                                   class="mb-2" th:field="*{searchParam1}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                                   class="mb-2" th:field="*{searchParam2}"/>
                            <!--                                   th:if="${page.searchParam2 == null && category.getName() != null}"-->

                        </div>
                        <input class="fa-heart" type="submit" th:id="next-page"
                               th:if="${hasNext == true}"
                               value="Next page"/>
                    </form>


                    <!--            *******************previous-page*****************************-->
                    <form th:class="previous-page" th:id="previous-page" th:object="${page}"
                          method="get">
                        <div>
                            <input name="index" type="hidden" data-th-value="${page.getIndex()-1}"
                                   th:value="${page.getIndex()-1}" class="mb-2" th:field="*{index}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                                   class="mb-2" th:field="*{searchParam1}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                                   class="mb-2" th:field="*{searchParam2}"/>
                        </div>
                        <input class="fa-heart" type="submit" th:id="previous-page"
                               th:if="${hasPrevious == true}"
                               value="Previous page"/>
                    </form>

                    <!--            *******************FIGHT LOG*****************************-->
                    <a th:href="@{/fightLog/1}">Fight Log</a>


                    <!--Show Log-->
                    <div th:each="log : ${log}">
                        <div class="team d-md-flex p-4 bg-white">
                            <!--                        <span class="position" th:text="'Id: ' + ${log.id} + '; '"></span>-->
                            <span class="position" th:text="${log.date} + '; '"></span>
                            <span th:unless="${log.sender == 'System'}">
                            <span class="position" th:text="${log.sender} + ' >>>'"></span>
                            <span class="position" th:text="${log.username} + '; '"></span>
                        </span>
                            <span class="position" th:text="${log.message}"></span>

                        </div>
                    </div>
                </div>
                <br>

            </div>

            <div class="col-md-2">
                <!--            *******************CHAT*****************************-->
                <h3 class="mb-5">Chat zone</h3>
                <form action="#" class="p-5 bg-light" th:action="@{/auth/game/${page.index}}"
                      th:object="${logBean}"
                      method="post"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="username">To user:</label>
                        <textarea name="" id="username" cols="20" rows="1"
                                  th:field="*{username}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea name="" id="message" cols="20" rows="1"
                                  th:field="*{message}"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Send message" class="btn py-3 px-4 btn-primary">
                    </div>
                </form>
            </div>


        </div>
    </div>

    <br>
    <!-- Our Team starts -->

</div>

<section class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote fa fa-microphone" style=
                        "font-style: italic"></div>
            </div>

            <div class="carousel slide" data-ride="carousel" id=
                    "carousel-example-generic">
                <ol class="carousel-indicators">
                    <li class="" data-slide-to="0" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="1" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="active" data-slide-to="2" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="3" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>
                </ol>

                <div class="carousel-inner">
                    <div class="item">
                        <p>5 Characters: Titan, Knight, Shaman, Wizard and Slayer</p>

                        <p style="font-weight: bold">- Characters -</p>
                    </div>

                    <div class="item">
                        <p>100 Levels</p>

                        <p style="font-weight: bold">- Levels
                            -</p>
                    </div>

                    <div class="item active">
                        <p>94 Creeps (15 Bosses, 7 Gods)</p>

                        <p style="font-weight: bold">- Creeps
                            -</p>
                    </div>

                    <div class="item">
                        <p>106 Items (29 Unique, 5 God items), but in fact countless</p>

                        <p style="font-weight: bold">- Items -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Anchor 2019 All right reserved. A </span><a
                                href="https://webthemez.com/free-website-templates/" target="_blank">Free Website
                            template</a> By WebThemez.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li><a href="#" data-placement="top" title="Google plus"><i
                                class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>