<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Tartarus</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="http://webthemez.com" name="author">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>
<div class="home-page" id="wrapper">
    <!-- start header -->

    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=
                            ".navbar-collapse" data-toggle="collapse" type=
                                    "button"><span class="icon-bar"></span> <span class=
                                                                                          "icon-bar"></span> <span
                            class=
                                    "icon-bar"></span></button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()">Test with user: userOne/secret</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!-- end header -->

    <section id="banner">
        <!-- Slider -->

        <div class="flexslider" id="main-slider">
            <ul class="slides">
                <li>
                    <img alt="" src="/img/slides/craft-main1.jpg">

                    <div class="flex-caption wow fadeInLeft animated" data-wow-animation-name="none">
                        <h3>Fear is your enemy</h3>

                        <p>kill, or get killed</p>
                    </div>
                </li>

                <li>
                    <img alt="" src="/img/slides/craft-main2.jpg">

                    <div class="flex-caption wow fadeInRight animated" data-wow-animation-name="none">
                        <h3>Death is not...</h3>

                        <p>by Stan</p>
                    </div>
                </li>
            </ul>
        </div><!-- end slider -->
    </section>

    <section class="hero-text">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 wow fadeInRight animated"
                     data-wow-animation-name="none">
                    <h2>The Game</h2>
                    <p>Tartarus is totally inspired by Diablo 2 and War Craft 3<br>
                        The game consists of:<br>
                        5 Characters: Titan, Knight, Shaman, Wizard and Slayer<br>
                        100 Levels<br>
                        15 Skills<br>
                        94 Creeps (15 Bosses, 7 Gods)<br>
                        106 Items (29 Unique, 5 God items), but in fact countless</p><br/>
<!--                    <div class="btn-section"><a href="#download" class="btn-default">More Details</a></div>-->

                </div>
                <div class="col-lg-6 wow fadeInRight animated"
                     data-wow-animation-name="none">
                    <h2>Me</h2>
                    <p>Stan<br>
                        34 years old<br>
                        Programming since Dec.2019</p><br/>
<!--                    <div class="btn-section"><a href="#download" class="btn-default">More Details</a></div>-->

                </div>
            </div>
        </div>
    </section>


    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">My Mission</h2>
                        <span>To create interesting web application/game<br>
                            which could be extended quickly and with ease</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-3 text-center">


                            <div class="box-area">
								<span class="icons c1 fa fa-trophy" style=
                                        "font-style: italic"></span>
                                <h3> Development</h3>

                                <p>Java 8, Spring boot, Hibernate,<br>
                                    Thymeleaf, MariaDB, Junit <br>
                                    340 hours work, <br>
                                    3750 lines of code, <br>
                                    80% unit tests of Service layer (50% whole app)</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">


                            <div class="box-area">
								 <span class="icons c2 fa fa-picture-o" style=
                                         "font-style: italic"></span>
                                <h3>UI Design</h3>

                                <p>Bootstrap, HTML, CSS</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">


                            <div class="box-area">
								 <span class="icons c3 fa fa-desktop" style=
                                         "font-style: italic"></span>
                                <h3>Interaction</h3>

                                <p>Diablo 2, War Craft 3</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">


                            <div class="box-area">
								<span class="icons c4 fa fa-globe" style=
                                        "font-style: italic"></span>
                                <h3>User Experience</h3>

                                <p>Not enough :)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Characters</h2>
                        <span>You can play 3-4 characters at the same time with ease,
                            as the fights are authomatic (on every 3 min). You can choose in witch zone to fight:
                        agains Creeps, Bosses, Gods or other characters (no item drop in the Arena/Duel).
                        All the fights are logged and You can see how the battles was done and who is the winner.<br>
                        Characters have stats: life, damage, armor, attack speed and block chance, first 3 grow with level up.  </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/chars/Knight.jpg'}" alt="Image" width="190">
                                <h3> Knight </h3>

                                <p>Master of armor and defence. His damage is lower, but he reduces enemy's attack
                                    witch make him perfect for using of Dynamite/Critical skill</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/chars/Titan.jpg'}" alt="Image" width="190">
                                <h3>Titan</h3>

                                <p>With the greatest attack in the game he is a klling machine.
                                    It would be a shame not to use Critical/Dynamite skill</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/chars/Shaman.jpg'}" alt="Image" width="190">
                                <h3>Shaman</h3>

                                <p>Using his mind he managed to grow with double life points.
                                    His battles last long, so he is perfect for Dynamite/Shock skill</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/chars/Slayer.jpg'}" alt="Image" width="190">
                                <h3>Slayer</h3>

                                <p>The fastest fighter so far! Her damage is low, but with this speed
                                    she usually is a winner. The start will be more difficult.
                                    Perfect for Shock/Dynamite skill</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/chars/Wizard.jpg'}" alt="Image" width="190">
                                <h3>Wizard</h3>

                                <p>Have only magic damage - cannot be blocked or reduced by armor.
                                    She will be a silent killer when she gathers weapons to add normal damage too.
                                    The best for her is MultyHit skill.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Active skills</h2>
                        <span>With levels characters gain skills.
                            The game consists of 15 skills: Passive, Aktive and Curses. Character can use only 1 active.
                            Each skill has 20 levels of power. For 100 levels a character can master 5 skills x 20 levels.
                            They have to be combine with strategy. </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/skills/Critical.jpg'}" alt="Image" width="190">
                                <h3> Critical </h3>

                                <p>15% chance to hit with damage up to x2</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/skills/Shock.jpg'}" alt="Image" width="190">
                                <h3>Shock</h3>

                                <p>20% chance to shock oponent for up to 1.8 sec (he cannot hit)</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/skills/MultiHit.jpg'}" alt="Image" width="190">
                                <h3>MultyHit</h3>

                                <p>Up to 40% chance to hit 2 times</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/skills/Dynamite.jpg'}" alt="Image" width="190">
                                <h3>Dynamite</h3>

                                <p>5% chance to start making damage up to x1.5 for the whole round</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Evil Gods</h2>
                        <span>When Your character gain 70-75 level You will be able to fight the 7 evil greek Gods </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Ares.jpg'}" alt="Image" width="190">
                                <h3>Ares</h3>

                                <p>God of war, bloodshed, and violence. The son of Zeus and Hera, he was depicted as a
                                    beardless youth. Level: 76</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Thanatos.jpg'}" alt="Image" width="190">
                                <h3>Thanatos</h3>

                                <p>God of death. Brother to Hypnos (Sleep) and Moros (Doom). Level: 80 </p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Achlys.jpg'}" alt="Image" width="190">
                                <h3>Achlys</h3>

                                <p>The goddess of poisons, and the personification of misery and sadness.
                                    Said to have existed before Chaos itself. Level: 84 </p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Erebus.jpg'}" alt="Image" width="190">
                                <h3>Erebus</h3>

                                <p>In Greek mythology, Erebus the god of deep darkness and shadow was often conceived as
                                    a
                                    primordial deity, representing the personification of darkness. Level: 88</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Chaos.jpg'}" alt="Image" width="190">
                                <h3>Chaos</h3>

                                <p>The personification of nothingness from which all of existence sprang.
                                    Depicted as a void. Initially genderless, later on described as female. Level:
                                    92</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Hades.jpg'}" alt="Image" width="190">
                                <h3>Hades</h3>

                                <p>King of the underworld and the dead. God of wealth. His consort is Persephone. Level:
                                    96</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/gods/Tartarus.jpg'}" alt="Image" width="190">
                                <h3>Tartarus</h3>

                                <p>The god of the deepest, darkest part of the underworld, the Tartarean pit
                                    (which is also referred to as Tartarus itself) Level: 100</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">God items</h2>
                        <span>Character carries equipped items as well as inventory to stash other items.
                            You can collect 106 different items (each twice) (there are 29 Unique and 5 God items), but in fact countless.
                            One character can give item to another. Crystal rings are made by transforming Empty ring with one Crystal.<br>
                        God items could be dropped only from Gods: Erebus, Chaos, Hades and Tartarus</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/godItems/GodAmulet.jpg'}" alt="Image" width="190">
                                <h3> God Amulet </h3>

                                <p>Level: 80, Damage: 278 - 317, Armor: 22, Rise: 1.5 </p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/godItems/GodArmor.jpg'}" alt="Image" width="190">
                                <h3>God Armor</h3>
                                <p>Level: 80, Armor: 130, Rise: 1.5 </p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/godItems/GodHelm.jpg'}" alt="Image" width="190">
                                <h3>God Helm</h3>
                                <p>Level: 80, Armor: 100, Life: 340, Rise: 1.5 </p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/godItems/GodShield.jpg'}" alt="Image" width="190">
                                <h3>God Shield</h3>
                                <p>Level: 80, Armor: 130, Block chance: 50%, Rise: 1.5</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/godItems/GodSword.jpg'}" alt="Image" width="190">
                                <h3>God Sword</h3>
                                <p>Level: 80, Damage: 486 - 779, Magic damage: 20, Speed: 0.8, Rise: 1.5</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/Ruby.jpg'}" alt="Image" width="190">
                                <h3>Ruby crystal</h3>
                                <p>Ruby increases life with 20% when transform with Empty ring</p>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="box-area">
                                <img th:src="@{'/images/Crystal-ring.jpg'}" alt="Image" width="190">
                                <h3>Crystal ring</h3>
                                <p>Carries Crystal and enables its power</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Inventory</h2>
                        <span>The items are dropped in the inventory. An algorithm is changing items maintaining
                            the best items in equippment and the rest in inventory (2 from a kind, the rest are deleted)<br>
                            Looks like this:<br></span>
                        <img th:src="@{'/images/Inventory.jpg'}" alt="Image" width="900"><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Fights</h2>
                        <span>The first words of everybody is "Show me the fights!"<br>
                        The fights still look like a log of moves with data in it:<br></span>
                        <img th:src="@{'/images/fight.jpg'}" alt="Image" width="600"><br>
                        <span>But don't worry, this is just the first version of the game...<br></span>
                        <h3 class="aligncenter" style="color: DarkGoldenrod">So let's play! <br>
                            Go and create new character from "USER"!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Game mechanisms</h2>
                        <span>#1 Damage in the game is always minimum and maximum. If a character has 50-150 damage the
                        final hit damage will be a random number between 50 and 150.</span><br><br>
                        <span>#2 Armor dercreases directly enemies damage. If charakter hits with 100 damage and his oponent
                            has 70 armor, the damage done will be 30. That is why Critical is so powerful skill -
                             it will double the damage 100 to 200 and the damage done will be 130, witch is in fact 4.3 times more!<br><br></span>
                        <span>#3 Item drop chances - 6 different - each creep, boss and god has a drop chances. The bigger the level,
                        the higher the drop chances are. Bosses have bigger drop chance than creeps. The exact dropped item
                        is calculated again random amongs the items that killed enemy could drop.</span><br><br>
                        <span>#4 Items have Rise. It varies from 1.0 to 1.5. This is a multiplicator. If the base armor of item is 100 and Rise is 1.3
                            the final armor of the dropped item will be 130. So each item could be dropped in 50 different combbinations.<br><br></span>
                        <span>#5 The item Bag is used to carry rings and crystals. They cannot be put in the inventory.</span><br><br>
                        <span>#6 Crystals are the hardest to get. Only 1 of 1000 dropped items will be Crystal.</span><br><br>
                        <span>#7 Gods have block chance 50% and fights speed from Ares to Tartarus - from 0.9sec to 0.5sec.
                            The bosses and creeps block less and have speed from 1.6sec to 1.0sec.</span><br><br>
                        <span>#8 Gods also have skills: Ares 10 lvl MultyHit, Thanatos 10 lvl Critical, Achlys 10 lvl Shock,
                         Erebus 10 lvl Dynamite, Chaos 15 lvl Dynamite, Hades 15 lvl MultiHit and Tartarus 20 lvl Critical.</span><br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about-Us">
        <div class="container" id="property-listings">
            <div class="row">

                <!-- /.feature image -->
                <div class="col-md-6 feature-2-pic wow fadeInLeft animated"
                     style="visibility: visible; animation-name: fadeInLeft;">
                    <img src="/img/blue-magic.jpg" alt="image" class="img-responsive">
                </div>

                <!-- /.feature content -->
                <div class="col-md-6 wow fadeInRight animated"
                     style="visibility: visible; animation-name: fadeInRight;">
                    <h2>Magic damage</h2>
                    <p>Cannot be blocked or reduced by armor
                    </p>

<!--                    <div class="btn-section"><a href="#download" class="btn-default">Learn More</a></div>-->

                </div>

            </div>
        </div><!-- End container -->
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">My Contact</h5>
                        <address>
                            <strong>stanimir.kolev2@gmail.com</strong>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p><span>&copy; Anchor 2019 All right reserved. A </span><a
                                    href="https://webthemez.com/free-website-templates/" target="_blank">Free Website
                                template</a> By WebThemez.com</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li>
                                <a class="fa fa-facebook" data-placement=
                                        "top" href="#" style="font-style: italic"
                                   title="Facebook"></a>
                            </li>

                            <li>
                                <a class="fa fa-twitter" data-placement=
                                        "top" href="#" style="font-style: italic"
                                   title="Twitter"></a>
                            </li>

                            <li>
                                <a class="fa fa-linkedin" data-placement=
                                        "top" href="#" style="font-style: italic"
                                   title="Linkedin"></a>
                            </li>

                            <li>
                                <a class="fa fa-pinterest" data-placement=
                                        "top" href="#" style="font-style: italic"
                                   title="Pinterest"></a>
                            </li>

                            <li>
                                <a class="fa fa-google-plus"
                                   data-placement="top" href="#" style=
                                           "font-style: italic" title=
                                           "Google plus"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a class="scrollup fa fa-angle-up active" href="#"></a> <!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>