<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>newItem</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>


<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li class="active">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="pt-5 mt-5">
    <h3 class="mb-5"></h3>
    <ul class="comment-list">
        <div class="comment-form-wrap pt-5" sec:authorize="isAuthenticated()">

            <h3 class="mb-5">Create new Item</h3>
            <form action="#" class="p-5 bg-light" th:action="@{/items/admin/newItem}"
                  th:object="${Item}"
                  method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="StringListId">Item Class</label>
                    <br/>
                    <label for="StringListId"></label>
                    <select id="StringListId" th:field="*{itemClass}">
                        <option value="WEAPON" selected="selected">Weapon</option>
                        <option value="ARMOR">Armor</option>
                        <option value="SHIELD">Shield</option>
                        <option value="HELM">Helm</option>
                        <option value="AMULET">Amulet</option>
                        <option value="DAGGER">Dagger</option>
                        <option value="BOOTS">Boots</option>
                        <option value="GLOVES">Gloves</option>
                        <option value="BAG">Bag</option>
                        <option value="RING">Ring</option>
                        <option value="CRYSTAL">Crystal</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="isUnique">is Unique</label>
                    <br/>
                    <label for="isUnique"></label>
                    <select id="isUnique" th:field="*{isUnique}">
                        <option value="1">Yes</option>
                        <option value="0" selected="selected">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Name">Name</label>
                    <textarea name="" id="Name" cols="20" rows="1"
                              th:field="*{name}"></textarea>
                </div>

                <div class="form-group">
                    <label for="Level">Level</label>
                    <textarea name="" id="Level" cols="20" rows="1"
                              th:field="*{level}"></textarea>
                </div>

                <div class="form-group">
                    <label for="Price">Price</label>
                    <textarea name="" id="Price" cols="20" rows="1"
                              th:field="*{price}"></textarea>
                </div>

                <div class="form-group">
                    <label for="damageMin">Damage Min</label>
                    <textarea name="" id="damageMin" cols="20" rows="1"
                              th:field="*{damageMin}"></textarea>
                </div>

                <div class="form-group">
                    <label for="damageMax">Damage Max</label>
                    <textarea name="" id="damageMax" cols="20" rows="1"
                              th:field="*{damageMax}"></textarea>
                </div>

                <div class="form-group">
                    <label for="magicDamage">Magic Damage</label>
                    <textarea name="" id="magicDamage" cols="20" rows="1"
                              th:field="*{magicDamage}"></textarea>
                </div>

                <div class="form-group">
                    <label for="armor">Armor</label>
                    <textarea name="" id="armor" cols="20" rows="1"
                              th:field="*{armor}"></textarea>
                </div>

                <div class="form-group">
                    <label for="blockChance">Block Chance</label>
                    <textarea name="" id="blockChance" cols="20" rows="1"
                              th:field="*{blockChance}"></textarea>
                </div>

                <div class="form-group">
                    <label for="speed">Speed</label>
                    <textarea name="" id="speed" cols="20" rows="1"
                              th:field="*{speed}"></textarea>
                </div>

                <div class="form-group">
                    <label for="life">Life</label>
                    <textarea name="" id="life" cols="20" rows="1"
                              th:field="*{life}"></textarea>
                </div>

                <div class="form-group">
                    <label for="rise">Rise</label>
                    <textarea name="" id="rise" cols="20" rows="1"
                              th:field="*{rise}"></textarea>
                </div>

                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <textarea name="" id="capacity" cols="20" rows="1"
                              th:field="*{capacity}"></textarea>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="" id="description" cols="20" rows="1"
                              th:field="*{description}"></textarea>
                </div>

                <div class="form-group">
                    <label for="availableInShop">Available In Shop?</label>
                    <br/>
                    <label for="availableInShop"></label>
                    <select id="availableInShop" th:field="*{availableInShop}">
                        <option value="1">Yes</option>
                        <option value="0" selected="selected">No</option>
                    </select>
                </div>

                <!--                private String itemClass;-->
                <!--                private int isUnique; //0 = No; 1 = Yes-->
                <!--                private String name;-->
                <!--                private int level;-->
                <!--                private int price;-->
                <!--                private int damageMin;-->
                <!--                private int damageMax;-->
                <!--                private int armor;-->
                <!--                private double blockChance;-->
                <!--                private double speed;-->
                <!--                private int availableInShop; //0 = No; 1 = Yes-->
                <!--                private String picture;-->

                <label class="control-label">Select File</label>
                <input id="imagefile" name="imagefile" type="file" class="file">
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save Item" class="btn py-3 px-4 btn-primary">
                </div>

            </form>
        </div>


    </ul>
</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>