<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>One Fight Log</title>
</head>
<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<!-- Fight Log page form -->
<h3 sec:authorize="isAuthenticated()"><a th:href="@{/fightLog/1}">Fight Log</a></h3>
<!-- END-->

<div class="col-md-12" th:object="${fightLog}">
    <!--Show Log-->
    <h1><span
            th:text="'*************One Fight Log:  *************'">User's One fight log</span>
    </h1>

    <form action="#" class="p-5 bg-light" th:action="@{/fightLog/one}"
          th:object="${idBean}"
          method="post"
          enctype="multipart/form-data">

        <div class="form-group">
            <label for="id">id</label>
            <textarea name="" id="id" cols="20" rows="1"
                      th:field="*{id}"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Show fight log" class="btn py-3 px-4 btn-primary">
        </div>
    </form>

    <!--Show Log-->
    <div th:each="log : ${fightLog}">
        <div class="team d-md-flex p-4 bg-white">
            <span class="position" th:text="${log}"></span>
            <br>
        </div>
    </div>
</div>

</body>
</html>