<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>One Fight Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    >

    <!-- Fight Log page form -->
    <h3 sec:authorize="isAuthenticated()"><a th:href="@{/fightLog/1}">Fight Log</a></h3>
    <!-- END-->

    <div class="col-md-12" th:object="${fightLog}">
        <!--Show Log-->
        <h3 class="mb-5">One Fight log</h3>

        <!--:LIFE FIGHT-->
        <div id="x" style="font-size:18px"></div>
        <script th:inline="javascript">
var s = [[${fightLog}]];
var x = document.getElementById('x');
var i = 0;

(function loop() {
<!--    x.innerHTML += s[i] + "<br />";-->
    x.innerHTML = s[i] + "<br />";
    if (++i < s.length) {
        setTimeout(loop, 2500);
    }
})();
        </script>
<br>
<br>

        Show Log
        <div th:each="log : ${fightLog2}">
            <div class="team d-md-flex p-4 bg-white">
                <span class="position" th:text="${log}"></span>
                <br>
            </div>
        </div>
    </div>
</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>

</body>
</html>