<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Pictures</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>


<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li class="active">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="pt-5 mt-5">
    <h3 class="mb-5"></h3>
    <ul class="comment-list">
        <div class="comment-form-wrap pt-5" sec:authorize="isAuthenticated()">

            <h3 class="mb-5">Update Item Picture</h3>
            <form action="#" class="p-5 bg-light" th:action="@{/pictures/admin/uploadPictures}"
                  th:object="${Item}"
                  method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="itemId">itemId</label>
                    <textarea name="" id="itemId" cols="20" rows="1"
                              th:field="*{id}"></textarea>
                </div>

                <label class="control-label">Select File</label>
                <input id="imagefile1" name="imagefile1" type="file" class="file">
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save Item" class="btn py-3 px-4 btn-primary">
                </div>
            </form>

            <br>
            <br>

            <h3 class="mb-5">Update Creep Picture</h3>
            <form action="#" class="p-5 bg-light" th:action="@{/pictures/admin/uploadPictures}"
                  th:object="${CreepDTO}"
                  method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="id">id</label>
                    <textarea name="" id="id" cols="20" rows="1"
                              th:field="*{creepId}"></textarea>
                </div>

                <label class="control-label">Select File</label>
                <input id="imagefile2" name="imagefile2" type="file" class="file">
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save Creep" class="btn py-3 px-4 btn-primary">
                </div>
            </form>

            <br>
            <br>

            <h3 class="mb-5">Update Character Picture</h3>
            <form action="#" class="p-5 bg-light" th:action="@{/pictures/admin/uploadPictures}"
                  th:object="${CharacterDTO}"
                  method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">name</label>
                    <textarea name="" id="name" cols="20" rows="1"
                              th:field="*{name}"></textarea>
                </div>

                <label class="control-label">Select File</label>
                <input id="imagefile3" name="imagefile3" type="file" class="file">
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save Character" class="btn py-3 px-4 btn-primary">
                </div>
            </form>


        </div>
    </ul>
</div>

    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/js/jquery.fancybox-media.js"></script>
    <script src="/js/portfolio/jquery.quicksand.js"></script>
    <script src="/js/portfolio/setting.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/animate.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>