<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>See Character</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--this works-->
    <!--    <style type="text/css">-->
    <!-- span.unique {-->
    <!--    color: DarkGoldenrod;-->
    <!--    font-weight: bold;-->
    <!--}-->
    <!--</style>-->

    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}























    </style>


    <!--Pop-up info!!!!-->
    <style>
        body {
    padding:30px;
    font:normal 12px/1.5 Arial, sans-serif;
}

/* Hover tooltips */
.field-tip {
    position:relative;
    cursor:help;
}
    .field-tip .tip-content {
        position:absolute;
        top:-22px; /* - top padding */
        right:9999px;
        width:200px;
        margin-right:-220px; /* width + left/right padding */
        padding:10px;
        color:#fff;
        background:#333;
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
    }
        /* <http://css-tricks.com/snippets/css/css-triangle/> */
        .field-tip .tip-content:before {
            content:' '; /* Must have content to display */
            position:absolute;
            top:50%;
            left:-16px; /* 2 x border width */
            width:0;
            height:0;
            margin-top:-8px; /* - border width */
            border:8px solid transparent;
            border-right-color:#333;
        }
        .field-tip:hover .tip-content {
            right:-20px;
            opacity:1;
            z-index: 100; /* Positioning Above all elements */
        }






















    </style>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>


</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header><!-- end header -->
    <section id="inner-headline" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">See Character</h2>
                </div>
            </div>
        </div>
    </section>

    <!--     START     -->
    <div th:if="${otherCharacter!=null}">
        <div class="row">
            <div class="col-md-2">
                <!--Show Stats-->
                <h3 class="mb-5">Stats</h3>
                <div class="pricing-box-item" th:id="stats">
                    <div class="pricing-heading">
                        <h4 th:text="${otherCharacter.name}"><strong>...</strong></h4>
                    </div>
                    <div class="pricing-terms">
                        <h6 th:text="${otherCharacter.characterClass}"></h6>
                    </div>
                    <div class="pricing-container">

                        <i class="icon-ok" th:text="'Level: ' + ${otherCharacter.level}"></i><br>
                        <i class="icon-ok" th:text="'Experience: ' + ${otherCharacter.experience}"></i><br>
                        <i class="icon-ok" th:text="'Gold: ' + ${otherCharacter.gold}"></i><br>
                        <i class="icon-ok" th:text="'Final Life: ' + ${otherCharacter.finalLife}"></i><br>
                        <i class="icon-ok"
                           th:text="'Final damage: ' + ${otherCharacter.finalDamageMin} + ' - ' + ${otherCharacter.finalDamageMax}"></i><br>
                        <i class="icon-ok"
                           th:text="'Magic damage: ' + ${otherCharacter.finalMagicDamage}"></i><br>
                        <i class="icon-ok"
                           th:text="'Speed: ' + ${otherCharacter.finalSpeed}"></i><br>
                        <i class="icon-ok" th:id="StatsArmor"
                           th:text="'Final armor: ' + ${otherCharacter.finalArmor}"></i><br>
                        <i class="icon-ok"
                           th:text="'Final BlockChance: ' + ${otherCharacter.finalBlockChance}"></i><br>

                    </div>
                </div>
            </div>


            <div class="col-md-8" th:id="character">

                <!--Show Equipment-->
                <h3 class="mb-5">Equipment</h3>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Ring</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}" th:id="charEquipHelm">
                                <div th:if="${item.itemClass.name()=='RING'}">
                                     <span class="field-tip">
                                         <!--Pop-up info!!!!-->
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120"
                                         class="center">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + ${item.description}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Helm</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}" th:id="charEquipHelm">
                                <div th:if="${item.itemClass.name()=='HELM'}">
                                     <span class="field-tip">
                                         <!--Pop-up info!!!!-->
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120"
                                         class="center">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Amulet</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='AMULET'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Weapon</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='WEAPON'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Armor</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='ARMOR'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Shield</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='SHIELD'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Dagger</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='DAGGER'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Gloves</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='GLOVES'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Boots</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='BOOTS'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pricing-box-item">
                            <div class="pricing-heading">
                                <strong style="font-size:16px">Bag</strong>
                            </div>
                            <div th:each="item : ${otherCharacter.equipment}">
                                <div th:if="${item.itemClass.name()=='BAG'}">
                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                    <img th:src="@{'/items/' + ${item.baseItemId} + '/itemImage'}" alt="Image"
                                         width="120">
                                         <span class="tip-content" th:utext="
                                            ${item.name} + ' (' + ${item.level} + ')' + '<br />'
                                            + 'dmg: ' + ${item.damageMin} + ' - ' + ${item.damageMax} + '<br />'
                                            + 'magic dmg: ' + ${item.magicDamage} + '<br />'
                                            + 'speed: ' + ${item.speed} + '<br />'
                                            + 'armor: ' + ${item.armor} + '&lt;br /&gt;'
                                            + 'blockChance: ' + ${item.blockChance} + '&lt;br /&gt;'
                                            + 'price: ' + ${item.price} + '&lt;br /&gt;'
                                            + 'life: ' + ${item.life} + '&lt;br /&gt;'
                                            + 'rise: ' + ${item.rise}"></span>
                                        </span>
                                    <div class="pricing-container">
                                        <div th:if="${item.name.contains('Unique')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: DarkGoldenrod"></i>
                                        </div>
                                        <div th:if="${item.name.contains('God')}">
                                            <i class="unique"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" style="color: RoyalBlue"></i>
                                        </div>
                                        <div th:unless="${item.name.contains('Unique') || item.name.contains('God')}">
                                            <i class="icon-ok"
                                               th:text="${item.name} + ' (' + ${item.level} + ')'" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Character skills-->
                <h3 class="mb-5">Character skills</h3>

                <!--Show Matrix-->
                <form id="sudokuBoard2" method="post">
                    <table class="table table-dark">
                        <tr th:each="row: ${characterSkillsMatrix}">
                            <td th:each="skill: ${row}">
                                <div th:if="${skill!=null}">

                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                        <img th:src="@{'/images/skills/' + ${skill.skillClass.name()} + '.jpg'}"
                                             alt="Image" width="120" class="center">
                                            <span class="tip-content" th:utext="
                                            ${skill.skillClass.name()} + ' (' + ${skill.level} + ')' + '<br />'
                                            + 'Type: ' + ${skill.getType()} + '<br />'
                                            + 'Value: ' + ${skill.getValue()} + '<br />'
                                            + ${skill.getDescription()}"></span>
                                        </span>
                                    <!--Pop-up info!!!!-->

                                    <div class="pricing-container">
                                        <i class="icon-ok"
                                           th:text="${skill.skillClass.name()} + ' (' + ${skill.level} + ')'"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


</div>

</div>
</section>

<section class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote fa fa-microphone" style=
                        "font-style: italic"></div>
            </div>

            <div class="carousel slide" data-ride="carousel" id=
                    "carousel-example-generic">
                <ol class="carousel-indicators">
                    <li class="" data-slide-to="0" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="1" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="active" data-slide-to="2" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="3" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>
                </ol>

                <div class="carousel-inner">
                    <div class="item">
                        <p>5 Characters: Titan, Knight, Shaman, Wizard and Slayer</p>

                        <p style="font-weight: bold">- Characters -</p>
                    </div>

                    <div class="item">
                        <p>100 Levels</p>

                        <p style="font-weight: bold">- Levels
                            -</p>
                    </div>

                    <div class="item active">
                        <p>94 Creeps (15 Bosses, 7 Gods)</p>

                        <p style="font-weight: bold">- Creeps
                            -</p>
                    </div>

                    <div class="item">
                        <p>106 Items (29 Unique, 5 God items), but in fact countless </p>

                        <p style="font-weight: bold">- Items -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>


</body>
</html>