<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{sign-up.css}" type="text/css" href="../static/sign-up.css"/>
    <title>Login page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h3><a th:href="@{/}">Home Page</a></h3>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <p>
                        <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
                    </p>
                    <form class="form-signin" action="#" th:action="@{/sign-up}" th:object="${user}" method="post">
<!--                        <div class="form-label-group">-->
<!--                            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="name"-->
<!--                                   required>-->
<!--                            <label for="name">Your name</label>-->
<!--                        </div>-->
                        <div class="form-label-group">
                            <input type="text" th:field="*{username}" id="inputUserame" class="form-control"
                                   placeholder="Username" required autofocus>
                            <label for="inputUserame">Username</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" th:field="*{email}" id="inputEmail" class="form-control"
                                   placeholder="Email address" required>
                            <label for="inputEmail">Email address</label>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="password" th:field="*{password}" id="inputPassword" class="form-control"
                                   placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" th:field="*{passwordConfirmation}" id="inputConfirmPassword"
                                   class="form-control" placeholder="Password" required>
                            <label for="inputConfirmPassword">Confirm password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Register">
                            Register
                        </button>
                        <a class="d-block text-center mt-2 small" th:href="@{/login}">Sign In</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/script.js"></script>
</body>
</html>