<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="http://webthemez.com"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/fancybox/jquery.fancybox.css}"
          href="../static/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" th:href="@{/css/jcarousel.css}" href="../static/css/jcarousel.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.css}"
          href="../static/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <!--	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


    </style>


    <!--Pop-up info!!!!-->
    <style>
        body {
            padding: 30px;
            font: normal 12px/1.5 Arial, sans-serif;
        }

        /* Hover tooltips */
        .field-tip {
            position: relative;
            cursor: help;
        }

        .field-tip .tip-content {
            position: absolute;
            top: -22px; /* - top padding */
            right: 9999px;
            width: 200px;
            margin-right: -220px; /* width + left/right padding */
            padding: 10px;
            color: #fff;
            background: #333;
            -webkit-box-shadow: 2px 2px 5px #aaa;
            -moz-box-shadow: 2px 2px 5px #aaa;
            box-shadow: 2px 2px 5px #aaa;
            opacity: 0;
            -webkit-transition: opacity 250ms ease-out;
            -moz-transition: opacity 250ms ease-out;
            -ms-transition: opacity 250ms ease-out;
            -o-transition: opacity 250ms ease-out;
            transition: opacity 250ms ease-out;
        }

        /* <http://css-tricks.com/snippets/css/css-triangle/> */
        .field-tip .tip-content:before {
            content: ' '; /* Must have content to display */
            position: absolute;
            top: 50%;
            left: -16px; /* 2 x border width */
            width: 0;
            height: 0;
            margin-top: -8px; /* - border width */
            border: 8px solid transparent;
            border-right-color: #333;
        }

        .field-tip:hover .tip-content {
            right: -20px;
            opacity: 1;
            z-index: 100; /* Positioning Above all elements */
        }


    </style>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>


</head>
<body>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                       th:href="@{/}"><img src="/img/tartarus-logo.jpg" alt="Image" width="150"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/game/1}">Game</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/user}">User</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/inventory}">Inventory</a>
                        </li>

                        <li class="active">
                            <a sec:authorize="isAuthenticated()" th:href="@{/auth/skills}">Skills</a>
                        </li>

                        <li>
                            <a th:href="@{/allItems}">All items</a>
                        </li>

                        <li>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>

                        <li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>

                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header><!-- end header -->
    <section id="inner-headline" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Skills</h2>
                </div>
            </div>
        </div>
    </section>

    <!--     START     -->

    <div th:if="${user.currentCharacter==null}">
        <h3 class="mb-5">You must have character to enter this page</h3>
    </div>

    <div th:if="${user.currentCharacter!=null}">
        <div class="row">
            <div class="col-md-2">
                <!--     Total skills     -->
                <div th:object="${totalSkillsBean}">
                    <div>
                        <span th:text="'Total skill points used: ' + ${totalSkillsBean.getString1()} + ', '"></span>
                        <span th:text="'Points available: ' + ${totalSkillsBean.getString2()}"></span>
                        <br>
                    </div>
                </div>


                <!--Show Stats-->
                <h3 class="mb-5">Stats</h3>
                <div class="pricing-box-item" th:id="stats">
                    <div class="pricing-heading">
                        <h4 th:text="${user.currentCharacter.name}"><strong>...</strong></h4>
                    </div>
                    <div class="pricing-terms">
                        <h6 th:text="${user.currentCharacter.characterClass}"></h6>
                    </div>
                    <div class="pricing-container">

                        <i class="icon-ok" th:text="'Level: ' + ${user.currentCharacter.level}"></i><br>
                        <i class="icon-ok" th:text="'Experience: ' + ${user.currentCharacter.experience}"></i><br>
                        <i class="icon-ok" th:text="'Gold: ' + ${user.currentCharacter.gold}"></i><br>
                        <i class="icon-ok" th:text="'Final Life: ' + ${user.currentCharacter.finalLife}"></i><br>
                        <i class="icon-ok"
                           th:text="'Final damage: ' + ${user.currentCharacter.finalDamageMin} + ' - ' + ${user.currentCharacter.finalDamageMax}"></i><br>
                        <i class="icon-ok"
                           th:text="'Magic damage: ' + ${user.currentCharacter.finalMagicDamage}"></i><br>
                        <i class="icon-ok"
                           th:text="'Speed: ' + ${user.currentCharacter.finalSpeed}"></i><br>
                        <i class="icon-ok" th:id="StatsArmor"
                           th:text="'Final armor: ' + ${user.currentCharacter.finalArmor}"></i><br>
                        <i class="icon-ok"
                           th:text="'Final BlockChance: ' + ${user.currentCharacter.finalBlockChance}"></i><br>

                    </div>
                </div>
            </div>


            <div class="col-md-8" th:id="character">
                <!--Available points-->
<!--                <div th:if="${user.currentCharacter!=null}">-->
<!--                    <div th:if="${isBestEquipped == true}">-->
<!--                        <h4 class="mb-5" style="color: green">Best Equipped</h4>-->
<!--                    </div>-->
<!--                    <div th:if="${isBestEquipped == false}">-->
<!--                        <h4 class="mb-5" style="color: red">Not Best Equipped</h4>-->
<!--                    </div>-->
<!--                </div>-->

                <!--Available skills-->
                <h3 class="mb-5">Available skills</h3>
                <!--Show Matrix-->
                <form id="sudokuBoard" method="post">
                    <table class="table table-dark">
                        <tr th:each="row: ${availableSkillsMatrix}">
                            <td th:each="skill: ${row}">
                                <div th:if="${skill!=null}">

                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                        <img th:src="@{'/images/skills/' + ${skill.skillClass.name()} + '.jpg'}"
                                             alt="Image" width="90" class="center">
                                            <span class="tip-content" th:utext="
                                            ${skill.skillClass.name()} + '<br />'
                                            + 'type: ' + ${skill.getType()} + '<br />'
                                            + ${skill.getDescription()}"></span>
                                        </span>
                                    <!--Pop-up info!!!!-->

                                    <div class="pricing-container">
                                        <i class="icon-ok"
                                           th:text="${skill.skillClass.name()}"></i>

                                        <!--Add skill!!!!-->
                                        <form th:class="use-form" th:id="${skill.getSkillClass().name()}" action="#"
                                              th:action="@{/auth/skills}"
                                              th:object="${StringBean}" method="post">
                                            <div>
                                                <input name="${StringBean.method}" type="hidden"
                                                       data-th-value="addSkill"
                                                       th:value="addSkill" class="mb-2"
                                                       th:field="${StringBean.method}"/>
                                            </div>

                                            <div>
                                                <input name="${StringBean.string1}" type="hidden"
                                                       data-th-value="${skill.getSkillClass().name()}"
                                                       th:value="${skill.getSkillClass().name()}" class="mb-2"
                                                       th:field="${StringBean.string1}"/>
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" value="Add skill" style="font-size:11px">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>


                <!--Character skills-->
                <h3 class="mb-5">Character skills</h3>

                <!--Show Matrix-->
                <form id="sudokuBoard2" method="post">
                    <table class="table table-dark">
                        <tr th:each="row: ${characterSkillsMatrix}">
                            <td th:each="skill: ${row}">
                                <div th:if="${skill!=null}">

                                    <!--Pop-up info!!!!-->
                                    <span class="field-tip">
                                        <img th:src="@{'/images/skills/' + ${skill.skillClass.name()} + '.jpg'}"
                                             alt="Image" width="120" class="center">
                                            <span class="tip-content" th:utext="
                                            ${skill.skillClass.name()} + ' (' + ${skill.level} + ')' + '<br />'
                                            + 'Type: ' + ${skill.getType()} + '<br />'
                                            + 'Value: ' + ${skill.getValue()} + '<br />'
                                            + ${skill.getDescription()}"></span>
                                        </span>
                                    <!--Pop-up info!!!!-->

                                    <div class="pricing-container">
                                        <i class="icon-ok"
                                           th:text="${skill.skillClass.name()} + ' (' + ${skill.level} + ')'"></i>

                                        <!--Update skill!!!!-->
                                        <form th:class="use-form" th:id="${skill.getSkillClass().name()}" action="#"
                                              th:action="@{/auth/skills}"
                                              th:object="${StringBean}" method="post">
                                            <div>
                                                <input name="${StringBean.method}" type="hidden"
                                                       data-th-value="updateSkill"
                                                       th:value="updateSkill" class="mb-2"
                                                       th:field="${StringBean.method}"/>
                                            </div>

                                            <div>
                                                <input name="${StringBean.string1}" type="hidden"
                                                       data-th-value="${skill.getSkillClass().name()}"
                                                       th:value="${skill.getSkillClass().name()}" class="mb-2"
                                                       th:field="${StringBean.string1}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="level">Level</label>
                                                <textarea name="" id="level" cols="20" rows="1"
                                                          th:field="*{string2}"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" value="Update" style="font-size:11px">
                                            </div>
                                        </form>

                                        <!--Remove skill!!!!-->
                                        <form th:class="use-form" th:id="${skill.getSkillClass().name()}" action="#"
                                              th:action="@{/auth/skills}"
                                              th:object="${StringBean}" method="post">
                                            <div>
                                                <input name="${StringBean.method}" type="hidden"
                                                       data-th-value="removeSkill"
                                                       th:value="removeSkill" class="mb-2"
                                                       th:field="${StringBean.method}"/>
                                            </div>

                                            <div>
                                                <input name="${StringBean.string1}" type="hidden"
                                                       data-th-value="${skill.getSkillClass().name()}"
                                                       th:value="${skill.getSkillClass().name()}" class="mb-2"
                                                       th:field="${StringBean.string1}"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Remove" style="font-size:11px">
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>


            <!--Bag-->
            <div class="col-md-2">
                <!--            <div class="comment-form-wrap pt-5" sec:authorize="isAuthenticated()">-->
                <div sec:authorize="isAuthenticated()">
                    <h3 class="mb-5"></h3>

                </div>
            </div>
        </div>
    </div>


</div>

</div>
</section>

<section class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote fa fa-microphone" style=
                        "font-style: italic"></div>
            </div>

            <div class="carousel slide" data-ride="carousel" id=
                    "carousel-example-generic">
                <ol class="carousel-indicators">
                    <li class="" data-slide-to="0" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="1" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="active" data-slide-to="2" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>

                    <li class="" data-slide-to="3" data-target=
                            "#carousel-example-generic">
                        <a href="#"></a>
                    </li>
                </ol>

                <div class="carousel-inner">
                    <div class="item">
                        <p>5 Characters: Titan, Knight, Shaman, Wizard and Slayer</p>

                        <p style="font-weight: bold">- Characters -</p>
                    </div>

                    <div class="item">
                        <p>100 Levels</p>

                        <p style="font-weight: bold">- Levels
                            -</p>
                    </div>

                    <div class="item active">
                        <p>94 Creeps (15 Bosses, 7 Gods)</p>

                        <p style="font-weight: bold">- Creeps
                            -</p>
                    </div>

                    <div class="item">
                        <p>106 Items (29 Unique, 5 God items), but in fact countless</p>

                        <p style="font-weight: bold">- Items -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>


<!--<form th:class="like-form" th:id="${post.getPostId()}" th:object="${postDTO2}"-->
<!--      method="post"-->
<!--      sec:authorize="isAuthenticated()" enctype="multipart/form-data">-->
<!--    <div>-->
<!--        <input name="postId" type="hidden" data-th-value="${post.getPostId()}"-->
<!--               th:value="${post.getPostId()}" class="mb-2" th:field="*{postId}"/>-->
<!--    </div>-->
<!--    <input class="fa-heart" type="submit" th:id="submit-val + ${post.getPostId()}"-->
<!--           th:value="${post.isLiked2(UserPrincipal.getUsername()) ? 'Dislike':'Like'}"/>-->
<!--</form>-->


<!-- Stan: it didn't work....yet...-->
<!--<script>-->
<!--    $(".use-form").submit(function (event) {-->
<!--        console.log("this is a USE log:)") //check-->
<!--        console.log(event) //check-->
<!--        event.preventDefault()-->
<!--        let data = $(this).serialize();-->
<!--        // debugger;-->
<!--        console.log("data: " + data) //check-->
<!--        console.log("this: " + $(this)) //check-->
<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "/rest/items/useItemFromOwnInventory",-->
<!--            data: data,-->
<!--            success: function (d) {-->
<!--                console.log("success")-->
<!--                console.log(d) //check-->
<!--                console.log(d.inventory) //check-->


<!--                $("#StatsArmor").text("Final armor: " + d.currentCharacter.finalArmor)-->
<!--                $("#charEquipHelm").html(d)-->
<!--            }-->
<!--        })-->
<!--    })-->


<!--</script>-->

<script>
    $(".like-form").submit(function (event) {
        console.log("this is a like log:)") //check
        console.log(event) //check
        event.preventDefault()
        let data = $(this).serialize();
        // debugger;
        console.log("data: " + data) //check
        console.log("this: " + $(this)) //check
        $.ajax({
            type: "POST",
            url: "/api/post/auth/likesUp",
            data: data,
            success: function (d) {
                console.log("success")
                console.log(d) //check
                console.log(d.likes.length) //check
                $("#like-count" + d.postId).text("Likes: " + d.likes.length)
                $("#rank-val" + d.postId).text("Rank: " + d.rank)
                if (d.liked === true)
                    $("#submit-val" + d.postId).val("Dislike")
                else
                    $("#submit-val" + d.postId).val("Like")
                console.log(d.liked) //check
            }
        })
    })


</script>

</body>
</html>